@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Make the scrollbar visible */
::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
    height: 8px;
    /* height of the scrollbar */
}

/* Add a background color to the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* light gray background */
}

/* Add a background color to the scrollbar thumb */
::-webkit-scrollbar-thumb {
    /* background: #ccc; */
    background: #333e7f6d;
    /* dark gray thumb */
    border-radius: 10px;
    /* rounded corners */
}

/* Change the scrollbar thumb color when hovered */
::-webkit-scrollbar-thumb:hover {
    /* background: #aaa; */
    background: #333e7fbe;
    /* darker gray thumb on hover */
}

/* Add a border radius to the scrollbar */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
    /* light gray background */
    border-radius: 10px;
    /* rounded corners */
}

a {
    text-decoration: none;
}

body {
    background-color: #fffcf3;

}

.nav {
    /* background-color: #4e3d76; */
    /* background-color: #4e342d; */

    display: flex;
    gap: 543px;
    width: 100%;
    /* padding: 0 40px; */
    top: 0;
    left: 0;
}

.logo {
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo span a {
    color: #1e2a69;
    font-family: 'Dancing Script';
    font-weight: 900;
    font-size: 27px;

}

.logo img {
    height: 83px;
    width: 83px;
    position: relative;
    top: -0.3em;

}

.menu {
    display: flex;
    align-items: center;

}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}


.menu ul li {
    /* font-family: 'Arsenal SC'; */
    font-family: 'Roboto Condensed';
    width: 70px;
    font-weight: 600;
    font-size: 25px;
}

.menu a {
    color: #3d4a92;
}

.menu a:hover {
    font-size: 26px;
    color: #1e2a69;

}

.hero {
    padding: 30px 0;
    display: flex;
    gap: 30px;
    margin: 0 0 40px 0;
}

.hero img {
    margin: 0 0 0 60px;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    object-fit: cover;
}

.herotxt {
    color: #1e2a69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    /* font-family: 'Arsenal SC'; */
    font-family: 'Roboto Condensed';

}

.herotxt h1 {
    font-size: 60px;
}

.herotxt p {
    font-size: 30px;
    margin: 0 0 20px 0;
}

.hbtn {
    height: 40px;
}

.herotxt button {
    width: 15vw;
    border: none;
    outline: none;
    /* background-color: #333333; */
    background-color: #3d4a92;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.herotxt button:hover {
    padding: 10px;
    font-size: 21px;
    background-color: #243898;
    transition: all 0.1s ease-in;
}

.hero2 {
    background-color: #a1b2ff1f;
    padding: 20px
}

.hero2 h2 {
    /* width: 50vw; */
    font-family: 'Roboto Condensed';
    color: #263581;
    display: flex;
    font-size: 32px;
    justify-content: center;
}

.second {
    margin: 50px 0;
    display: flex;
    padding: 0 60px;

    gap: 50px;

}

.resimg {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resimg img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 70vh;
}

.txt {
    width: 55%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bar {
    height: auto;
    width: 14px;
    background-color: #263581;
}

.hero3 {
    display: flex;
    cursor: pointer;
    gap: 12px;

}

.ccont {
    display: flex !important;
    flex-direction: column !important;
}

.hero3 h2 {
    color: #243898;
    font-size: 33px;
    font-family: 'Roboto Condensed';
}

.hero3 p {
    color: #382567;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    padding: 10px 0;
}

.sshow {
    display: flex;
    justify-content: center;
    position: relative;
    /* margin: 50px 0 0 0; */
}

.islide .imgs img {
    height: 80vh;
    width: 70vw;
    border-radius: 10px;
    object-fit: cover;
    object-position: bottom right;
}

.last {
    background-color: #a1b2ff1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 60px;
    margin: 50px 0;
}

.last h2 {
    font-family: 'Roboto Condensed';
    color: #263581;
    display: flex;
    font-size: 26px;
    justify-content: center;
}

.last button {
    width: 15vw;
    border: none;
    outline: none;
    /* background-color: #333333; */
    background-color: #3d4a92;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.last button:hover {
    padding: 10px;
    font-size: 21px;
    background-color: #243898;
    transition: all 0.1s ease-in;
}

.test {
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.test h1 {
    color: #263581;
    font-size: 60px;
    font-family: 'Roboto Condensed';
}

.cardholder {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.card {
    /* border: 1px solid springgreen; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #a1b2ff1f;
    width: 39.5vw;
}

.cardtop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardtop img {
    height: 45px;
    width: 45px;
}

.cardtop h3 {
    font-size: 25px;
    color: #243898;
    font-family: 'Roboto Condensed';
}

.cardtxt {
    color: #382567;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    text-align: justify;
}

.card:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in;
}

.faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    gap: 30px;
    margin: 50px 0;

}

.faqs h1 {
    color: #263581;
    font-size: 60px;
    font-family: 'Roboto Condensed';
}

.fcardholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.fcard {
    overflow: hidden;
    border-radius: 7px;

    width: 60vw;

}

.que {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    font-family: 'Roboto Condensed';
    background-color: #263581;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    /* gap: 120px; */

}

.arrow {
    position: relative;
    top: 3px;
    width: 25px;
    height: 25px;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.que:hover {
    /* background-color:#0c2ac4; */
    background-color: #243898;
}

.ans {
    padding: 10px;
    background-color: #f4f3f4;
    color: #1e2a69;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    display: none;

}

footer {
    background-color: #263581;
    color: white;
    padding: 20px;
    font-family: 'Roboto Condensed';
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer a{
    color: white;
}
footer ul {
    list-style-type: none;
}

.upper {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1.6fr 1fr;
}

.subs {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 20px 0;
}

.icon {
    height: 65px;
    display: flex;
    align-items: center;
}

.icon span h2 {
    color: white;
    font-size: 30px;
}

.icon img {
    width: 83px;
    height: 83px;
    position: relative;
    top: -0.3em;
}

.stxt p {
    padding: 0 13px;
    font-size: 20px;
}

.sbttn {
    padding: 0 13px;
    height: 44px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.sbttn input {
    height: inherit;
    width: 70%;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
}

.sbttn input::placeholder {

    color: #263581;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbttn input:focus::placeholder {
    color: transparent;
}

.sbttn input:focus,
textarea:focus,
select:focus {
    outline: none;
    padding: 0px 20px;
    color: #263581;
    font-family: 'Roboto Condensed';
    font-size: 19px;
}

.sbttn button {
    height: 45px;
    width: 30%;
    font-family: 'Roboto Condensed';
    background-color: #96a2de;
    border: 1px solid #263581;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

.abt {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.abt h2{
    font-size: 30px;
}
.abt li{
    font-size: 18px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}


.mid {
    background-color: white;
    width: 100%;
    height: 3px;
}

.bttm {
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.icons{
    position: relative;
    top: 0.37em;
    width: 25px;
    height: 25px;
}